@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@100;200;300;400&family=Ruda:wght@500;800;900&display=swap");

@import "~bootstrap/dist/css/bootstrap.css";

@import "./assets/css/variables.scss";
@import "./assets/css/scroll.scss";
@import "./assets/css/icons.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: max-content;
}

body {
  width: 100%;

  * {
    font-family: $SansFamily;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1366px) {
  body {
    background: linear-gradient(
      162deg,
      var(--dark-blue) 0%,
      var(--basic-color) 35%,
      var(--light-blue) 100%
    );
  }
}