@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/css/variables.scss";
@import "./assets/css/scroll.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: max-content;
}

body {
  * {
    font-family: $SansFamily;
    font-size: $fontSizeS;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: $breakpoint-S) {
  body {
    background: linear-gradient(
      162deg,
      $dark-blue-color 0%,
      $basic-color 35%,
      $light-blue-color 100%
    );
  }
}
