@import "./assets/css/mixins";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./assets/css/variables";
@import "./assets/css/scroll";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
}

body {
  background-color: #eeeeee;
  
  * {
    font-family: $CommonFontFamily;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}
