@use "../../../../assets/css/mixins";
@import "../../../../assets/css/variables";

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 200px;
    height: 200px;
    background-color: $lilac-color;
    border: 5px solid $lilac-color;
    border-radius: 50%;
  }

  &__name {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-firstName,
    &-lastName {
      font-family: $Caveat;
      font-size: 90px;
      color: $basic-color;
    }

    &-lastName {
      padding-left: calc(32px * 1.5);
      line-height: 60px;
    }

    &-position {
      font-size: 20px;
      padding-left: calc(32px * 3);
      font-weight: bold;
      letter-spacing: 3px;
    }
  }

  @include mixins.mq-min-width(extra-small) {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__image {
      width: 250px;
      height: 250px;
    }

    &__name {
      text-align: left;

      &-firstName,
      &-lastName {
        padding-bottom: 1rem;
      }
    }
  }
}
