@use "../../../../assets/css/mixins";
@import "../../../../assets/css/variables";

.user {
  display: flex;
  flex-direction: column;
  font-family: $MontserratMedium;

  &__firstName {
    font-size: 32px;
    transform: scaleY(0.8);
    margin: 0;
  }

  &__lastName {
    font-family: $MontserratExtraBold;
    color: $basic-color;
    font-size: 32px;
    margin: 0;
  }

  &__position {
    font-size: 20px;
    margin: 0;
    transform: scaleY(0.8);
  }

  @include mixins.mq-min-width(extra-small) {
    &__firstName,
    &__lastName {
      font-size: 54px;
      padding-bottom: 5px;
      margin: 8px 0;
    }

    &__position {
      margin: 8px 0;
      font-size: 30px;
      transform: scaleY(0.8);
    }
  }
}
