<div class="content">
  <h1 class="content__title">
    {{ "PERSONAL_DATA.PROFILE" | translate | uppercase }}
  </h1>

  @if (personalInfo) {
    <p class="content__description">{{ personalInfo.description }}</p>

    <div class="content__contact">
      <a class="content__contact-link" (click)="showPhoneNumber()"
        >{{ "PERSONAL_DATA.PHONE" | translate }}
        <span class="content__contact-link--colored">
          {{ personalInfo.phone | phonePipe: hideNumber }}
        </span>
      </a>
      <a class="content__contact-link" (click)="openMail()"
        >{{ personalInfo.email }}
      </a>
      <a class="content__contact-link" (click)="openLinkedIn()"
        >{{ personalInfo.linkedIn }}
      </a>
    </div>
  }
</div>
