@use "../../../../assets/css/mixins";
@import "../../../../assets/css/variables";

.content {
  color: $white-color;
  background-color: $basic-color;
  font-family: $MontserratLight;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;

  &__title {
    font-family: $MontserratSemiBold;
    font-size: 32px;
  }

  hr {
    border-top: 2px solid $white-color;
    margin-bottom: 16px;
    opacity: 1;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    &-item {
      display: flex;
      font-size: 12px;
      gap: 5px;

      &--bold {
        text-decoration: none;
        font-family: $MontserratSemiBold;
        color: inherit;
        cursor: pointer;
      }
    }
  }

  @include mixins.mq-min-width(extra-small) {
    padding: 0 0 16px;
  }
}
