@use "../../../../assets/css/mixins";
@import "../../../../assets/css/variables";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  line-height: 2;

  &__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  &__description {
    text-align: center;
    width: 80%;
    font-size: 12px;
    white-space: pre-line;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-link {
      text-decoration: none;
      font-weight: bold;
      color: inherit;
      font-size: 14px;
      cursor: pointer;

      &--colored {
        color: $basic-color;
        font-size: 14px;
      }
    }
  }

  @include mixins.mq-min-width(extra-small) {
    &__contact,
    &__description {
      padding-bottom: 2rem;
      width: 100%;
    }
  }
}
