<div class="content">
  <h1 class="content__title">
    {{ "PERSONAL_DATA.PROFILE" | translate }}
  </h1>
  <hr />

  @if (personalInfo) {
    <span class="content__description">{{ personalInfo.description }}</span>

    <div class="content__contact">
      @for (item of contactList; track $index) {
        <div class="content__contact-item">
          @if (item.value) {
            @if (item.label) {
              <span>{{ item.label }}</span>
            }
            <a (click)="item?.onAction()">
              <span class="content__contact-item--bold">
                {{ item.value }}
              </span>
            </a>
          }
        </div>
      }
    </div>
  }
</div>
