$breakpoints: (
  extra-small: 768px,
  small: 992px,
  medium: 1366px,
  large: 1920px
);

@mixin mq-min-width($point) {
  $size: map-get($breakpoints, $point);

  @media only screen and (min-width: $size) {
    @content;
  }
}

