@import "./../../../../assets/css/variables";

.textarea,
.textarea:focus,
.textarea:focus-visible {
  background-color: transparent;
  border: none;
  width: 100%;
  resize: none;
  outline: none;
  color: $basic-color;

  &::placeholder,
  &.white {
    color: $white-color;
    font-style: italic;
  }
}
