@import "./../../../assets/css/mixins";
@import "./../../../assets/css/variables";

.company {
  margin: 0 $gap-M;

  &-position,
  &-name {
    font-weight: bold;
  }

  &-tasks {
    line-height: 1.5;
    padding: 0 0 $gap-M $gap-M;
  }

  @include mq-min-width(medium) {
    &-tasks {
      padding-bottom: $gap-L;
    }
  }
}
