@import "./../../../assets/css/variables.scss";

.company {
  margin: 0 $gap-M;

  &-position,
  &-name {
    font-weight: bold;
  }

  &-tasks {
    line-height: 1.5;
    padding: 0 0 $gap-M $gap-M;
  }
}

@media only screen and (min-width: $breakpoint-M) {
  .company {
    &-tasks {
      padding-bottom: $gap-L;
    }
  }
}
