<div class="company">
  @for (item of data; track $index) {
    <h3 class="company-position">{{ item.title }}</h3>
    <h4 class="company-name">{{ item.company }}</h4>
    <ul class="company-tasks">
      @for (task of item?.description; track $index) {
        <li>{{ task }}</li>
      } @empty {
        <ng-container *ngTemplateOutlet="noData" />
      }
    </ul>
  } @empty {
    <ng-container *ngTemplateOutlet="noData" />
  }
  <ng-template #noData>
    <b>{{ "noData" | translate }}</b>
  </ng-template>
</div>
