@import "./../../../assets/css/variables";

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $gap-M;
  color: $blue-color;

  &-name {
    font-weight: bold;
    line-height: 2;
    letter-spacing: 2px;
  }
}
