@import "./../../../assets/css/variables";

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $gap-M;

  &-name {
    font-weight: bold;
    line-height: 1.5;
  }
}
