@if (personalInfo | async; as personalInfo) {
  <div class="main">
    <div class="main__buttons">
      <app-chips [@changeLanguage]="languageState" />
      <app-buttons [buttonsConfig]="buttons" (clickEvent)="onClick($event)" />
    </div>

    <app-user [info]="personalInfo.info" />

    <div class="main__content" [@changeLanguage]="languageState"> 
      <div class="main__content-left-side">
        <app-personal-data [form]="form.get('info')" />
        <app-section
          heading="SECTIONS.SPECIALIZATION"
          [data]="personalInfo.specializations"
        />
        <app-section
          heading="SECTIONS.OTHER_SKILLS"
          [data]="personalInfo.otherSkills"
        />
      </div>

      <div class="main__content-right-side">
        <app-section
          heading="SECTIONS.EXPERIENCE"
          [data]="personalInfo.experience"
        />
        <app-section
          heading="SECTIONS.EDUCATION"
          [data]="personalInfo.education"
        />
      </div>
    </div>
    <div class="main__footer">
      {{ personalInfo.clause }}
    </div>
  </div>
}
