@use "./../../../assets/css/mixins";
@import "./../../../assets/css/variables";

.main {
  margin-top: 5rem;
  background-color: $white-color;
  min-width: 330px;
  padding: 1rem;
  position: relative;
  color: $text-color;
  box-shadow: 0px 0px 10px $shadow-color;

  &__buttons > * {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
  }

  &__content {
    padding: 1rem;
  }

  &__footer {
    font-size: 10px;
    text-align: justify;
    color: darkgray;
    line-height: 1.5;
    padding: 1rem;
  }

  @include mixins.mq-min-width(extra-small) {
    width: 85vw;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 16px;

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 16px;
      padding: 0 16px;

      &-left-side {
        width: 45%;
      }
      &-right-side {
        width: 55%;
      }

      &-left-side,
      &-right-side {
        padding: 16px;
      }
    }
  }

  @include mixins.mq-min-width(small) {
    width: 75vw;
  }

  @include mixins.mq-min-width(medium) {
    width: 60vw;
  }

  @include mixins.mq-min-width(large) {
    width: 50vw;

    &__content {
      margin: 2rem;
      padding: 0 2rem;
      &-left-side {
        width: 40%;
      }
    }
  }
}
