@use "./mixins";

// font
$CommonFontFamily: "Roboto", Arial;
$Caveat: "Caveat", Arial;
$letterSpacing: 0.5px;

// colors
$white-color: var(--white);
$basic-color: var(--basic-color);
$lilac-color: var(--lilac);
$dark-blue-color: var(--dark-blue);
$orange-color: var(--orange);
$blue-color: var(--blue);
$black-color: var(--black);
$shadow-color: rgba(66, 68, 90, 1);

:root {
  --white: #ffffff;
  --basic-color: #F27405;
  --lilac: #D7BCFD;
  --dark-blue: #020024;
  --orange: #ffc897;
  --blue: #2946bf;
  --black: #000000;
}

@font-face {
  font-family: Caveat;
  src: url("./../font/Caveat-Bold.ttf");
}