$fontSizeXL: 100px;
$fontSizeL: 66px;
$fontSizeM: 24px;
$fontSizeS: 20px;
$fontSizeXS: 14px;

$letterSpacing: 0.5px;

$RudaFamily: "Ruda", sans-serif;
$SansFamily: "DM Sans", sans-serif;

:root {
  --basic-color: #594557;
  --light-gray: #f0f2f4;
  --dark-blue: #020024;
  --light-blue: #00D4FF;
  --white: #ffffff;
}
