@import "./mixins";

// font
$fontSizeS: var(--font-size-S);
$fontSizeM: var(--font-size-M);
$fontSizeL: var(--font-size-L);

$letterSpacing: 0.5px;

$CommonFontFamily: 'Roboto', Arial;
$Caveat: "Caveat", Arial;

// colors
$white-color: var(--white);
$basic-color: var(--basic-color);
$light-gray-color: var(--light-gray);
$dark-blue-color: var(--dark-blue);
$orange-color: var(--orange);
$blue-color: var(--blue);
$black-color: var(--black);

// shadow
$shadow-color: rgba(66, 68, 90, 1);

$gap-S: var(--gap-S);
$gap-M: var(--gap-M);
$gap-L: var(--gap-L);

:root {
  --white: #ffffff;
  --basic-color: #27384c;
  --light-gray: #f0f2f4;
  --dark-blue: #020024;
  --light-blue: #00d4ff;
  --orange: #FFC897;
  --blue: #1b318a;
  --black: #000000;

  --font-size-S: 12px;
  --font-size-M: 14px;
  --font-size-L: 64px;

  --gap-S: 0.5rem;
  --gap-M: 1rem;
  --gap-L: 3rem;
}

body {
  @include mq-min-width(medium) {
    --font-size-M: 16px;
    --font-size-L: 72px;
  }

  @include mq-min-width(large) {
    --font-size-S: 14px;
    --font-size-L: 94px;
  }
}
