@use "./mixins";

// font
$fontSizeS: var(--font-size-S);
$fontSizeM: var(--font-size-M);
$fontSizeL: var(--font-size-L);

$letterSpacing: 0.5px;

$CommonFontFamily: "Roboto", Arial;
$Caveat: "Caveat", Arial;

// colors
$white-color: var(--white);
$basic-color: var(--basic-color);
$light-gray-color: var(--light-gray);
$dark-blue-color: var(--dark-blue);
$orange-color: var(--orange);
$blue-color: var(--blue);
$black-color: var(--black);
$shadow-color: rgba(66, 68, 90, 1);

$gap-S: 0.5rem;
$gap-M: 1rem;
$gap-L: 3rem;

:root {
  --white: #ffffff;
  --basic-color: #F27405;
  --light-gray: #f0f2f4;
  --dark-blue: #020024;
  --orange: #ffc897;
  --blue: #1b318a;
  --black: #000000;

  --font-size-S: 12px;
  --font-size-M: 14px;
  --font-size-L: 64px;
}

body {
  @include mixins.mq-min-width(small) {
    --font-size-M: 16px;
    --font-size-L: 72px;
  }

  @include mixins.mq-min-width(medium) {
    --font-size-S: 14px;
    --font-size-L: 94px;
  }
}
