$textColor: #594557;
$panelColor: #f8f8f8;

$fontSizeXL: 100px;
$fontSizeL: 66px;
$fontSizeM: 30px;
$fontSizeS: 16px;

$letterSpacing: 1.5px;

$RudaFamily: "Ruda", sans-serif;
$SansFamily: "DM Sans", sans-serif;