<div class="stars">
  @for (item of iterate; track index; let index = $index) {
    @if (!item.hidden) {
      <div
        [ngClass]="['star', index % 4 === 0 ? 'animate-star-infinite' : '']"
        (click)="hideStar(index)"
        (mouseover)="addAnimation(index)"
      >
        <ng-container
          *ngTemplateOutlet="
            starTypes;
            context: {
              iconType: item.iconType,
              config: {
                color: getTransparentColor(item.colored),
                size: item.size
              }
            }
          "
        />
      </div>
    }
    @if (item.hidden) {
      <div [style.width]="item.size"></div>
    }
  }
</div>

<ng-template #starTypes let-iconType="iconType" let-config="config">
  @switch (iconType) {
    @case (0) {
      <app-star [config]="config" />
    }
    @case (1) {
      <app-skinny-star [config]="config" />
    }
    @default {
      <app-exploding-star [config]="config" />
    }
  }
</ng-template>
