@use "./../../../assets/css/mixins";
@import "./../../../assets/css/variables";

.stars {
  display: none;

  @include mixins.mq-min-width(extra-small) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 100px;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    background-image: linear-gradient(
      162deg,
      $dark-blue-color 20%,
      $orange-color 40%,
      $basic-color 64%,
      $dark-blue-color 70%,
      $basic-color 94%,
      $dark-blue-color 100%
    );

    .star {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
    }
  }

  .animate-star {
    background-color: transparent;
    -webkit-animation: in 2s ease;
    animation: in 2s ease;
  }

  .animate-star-infinite {
    -webkit-animation: in 16s linear;
    animation: in 16s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @include mixins.mq-min-width(small) {
    .stars {
      height: 150%;
    }
  }
}

@-webkit-keyframes in {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes in {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
