@use "../../../../assets/css/mixins";
@import "../../../../assets/css/variables";

.section {
  padding: 0 16px;
  font-family: $MontserratLight;

  &__heading {
    padding-top: 16px;
    font-size: 32px;
    font-family: $MontserratSemiBold;
  }

  &__hr {
    border-top: 2px solid $dark-gray-color;
    margin-bottom: 16px;
    opacity: 1;

    &.white {
      border-color: $white-color;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &-title {
      font-size: 18px;
      font-family: $MontserratBold;
      padding-bottom: 10px;
    }

    &-subtitle {
      font-size: 18px;
      font-family: $MontserratSemiBold;
      padding-bottom: 10px;
    }

    &-period {
      font-size: 20px;
      font-style: italic;
      white-space: nowrap;
    }
  }

  &__list {
    margin: 0;
    font-size: 12px;
    padding: 0 0 16px 26px;

    &--bold {
      font-family: $MontserratBold;
    }
  }

  @include mixins.mq-min-width(extra-small) {
    padding: 0;
  }
}
