<div class="section">
  <h1 class="section__heading">
    {{ heading | translate | uppercase }}
  </h1>

  @for (item of data; track $index) {
    <div class="section__title section__title--bold">{{ item.title }}</div>
    <div class="section__title">{{ item.subTitle }}</div>
    <div class="section__title section__title--bold mb-2">
      {{ item.period }}
    </div>

    @if (item?.description?.length) {
      <ul class="section__list">
        @for (task of item?.description; track $index) {
          <li [innerHTML]="task"></li>
        }
      </ul>
    }
  } @empty {
    <b>{{ "NO_DATA" | translate }}</b>
  }
</div>
