<div class="section">
  <h1 class="section__heading">
    {{ heading | translate }}
  </h1>
  <hr [ngClass]="['section__hr', whiteColor ? 'white' : '']" />

  @for (item of data; track $index) {
    @if (item.title) {
      <div class="section__header">
        <div>
          <div class="section__header-title">{{ item.title }}</div>
          <div class="section__header-subtitle">{{ item.subTitle }}</div>
        </div>
        <div class="section__header-period">
          {{ item.period }}
        </div>
      </div>
    }

    @if (item?.description?.length) {
      <ul class="section__list">
        @for (task of item?.description; track $index) {
          <li>
            @for (
              part of getPartialText(task);
              track index;
              let index = $index
            ) {
              <span [ngClass]="{ 'section__list--bold': index % 2 !== 0 }">{{
                part
              }}</span>
            }
          </li>
        }
      </ul>
    }
  } @empty {
    <b>{{ "NO_DATA" | translate }}</b>
  }
</div>
