@use "./../../assets/css/mixins";
@import "./../../assets/css/variables";

$radius: 1rem;

%title {
  background-color: $blue-color;
  color: $orange-color;
  min-width: 30%;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  line-height: $fontSizeM;
  font-size: $fontSizeM;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
}

.main {
  background-color: $white-color;
  min-width: 330px;
  padding: 1rem;
  position: relative;
  color: $blue-color;

  &-buttons > * {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
  }

  .content {
    padding: 1rem;

    &-info,
    &-section {
      &--title {
        @extend %title;
      }
    }
  }

  .footer {
    font-size: calc($fontSizeS * 3 / 4);
    text-align: justify;
    color: darkgray;
    line-height: 1.5;
    padding: 1rem;
  }

  @include mixins.mq-min-width(extra-small) {
    width: 85vw;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: $radius;
    box-shadow: 0px 0px 22px -13px $shadow-color;

    .content {
      display: flex;
      flex-direction: row;
      margin: 0.5rem;
      padding: 0 0.5rem;

      &-info {
        width: 40%;
      }
      &-section {
        width: 60%;
      }

      &-info,
      &-section {
        padding: 0.5rem;

        &--title {
          margin-bottom: 1rem;
        }
      }
    }
  }

  @include mixins.mq-min-width(small) {
    width: 75vw;

    .content {
      margin: 1rem;
      padding: 0 1rem;
    }
  }

  @include mixins.mq-min-width(medium) {
    width: 65vw;

    .content {
      margin: 2rem;
      padding: 0 2rem;
    }
  }

  @include mixins.mq-min-width(large) {
    width: 55vw;

    .content {
      &-info,
      &-section {
        &--title {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
