@use "./../../../assets/css/mixins";
@import "./../../../assets/css/variables";

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-image {
    width: 200px;
    height: 200px;
    border: 6px dashed $light-gray-color;
    border-radius: 50%;
    padding: $gap-S;
    margin: $gap-S;
  }

  &-name {
    display: flex;
    flex-direction: column;
    text-align: center;

    &--firstName,
    &--lastName {
      font-family: $Caveat;
      font-size: $fontSizeL;
      color: $basic-color;
    }

    &--lastName {
      padding-left: calc($gap-L * 1.5);
    }

    &--position {
      font-size: calc($fontSizeM * 1.5);
      padding-left: calc($gap-L * 3);
      font-weight: bold;
      color: $blue-color;
    }
  }

  @include mixins.mq-min-width(extra-small) {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-image {
      width: 250px;
      height: 250px;
    }

    &-name {
      text-align: left;
      
      &--firstName,
      &--lastName {
        padding-bottom: $gap-M;
      }
    }
  }
  
  @include mixins.mq-min-width(medium) {
    &-name {
      &--firstName,
      &--lastName {
        padding-bottom: $gap-L;
      }
    }
  }
}
