@use "./../../assets/css/mixins";
@import "./../../assets/css/variables";

$radius: $gap-M;

%title {
  background-color: $basic-color;
  color: $orange-color;
  min-width: 30%;
  padding: $gap-S 0;
  margin-bottom: $gap-S;
  line-height: $fontSizeM;
  font-size: $fontSizeM;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
}

.main {
  background-color: $white-color;
  min-width: 330px;
  padding: $gap-M;
  position: relative;

  &-buttons > * {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
  }

  .content {
    padding: $gap-M;

    &-info,
    &-section {
      &--title {
        @extend %title;
      }
    }
  }

  @include mixins.mq-min-width(extra-small) {
    width: 85vw;
    margin: $gap-L auto;
    padding: $gap-L;
    border-radius: $radius;
    box-shadow: 0px 0px 22px -13px $shadow-color;

    .content {
      display: flex;
      flex-direction: row;
      margin: $gap-S;
      padding: 0 $gap-S;

      &-info {
        width: 40%;
      }
      &-section {
        width: 60%;
      }

      &-info,
      &-section {
        padding: $gap-S;

        &--title {
          margin-bottom: $gap-M;
        }
      }
    }
  }

  @include mixins.mq-min-width(small) {
    width: 75vw;

    .content {
      margin: $gap-M;
      padding: 0 $gap-M;
    }
  }

  @include mixins.mq-min-width(medium) {
    width: 65vw;

    .content {
      margin: $gap-L;
      padding: 0 $gap-L;
    }
  }

  @include mixins.mq-min-width(large) {
    width: 55vw;

    .content {
      &-info,
      &-section {
        &--title {
          margin-bottom: $gap-L;
        }
      }
    }
  }
}
