@import "./../../assets/css/variables.scss";

$radius: 0.5rem;

%title {
  background-color: $basic-color;
  text-align: center;
  min-width: 30%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  color: $white-color;
  font-size: $fontSizeM;
  line-height: $fontSizeM;
}

.main {
  background-color: $white-color;
  height: max-content;
  min-height: 90vh;
  min-width: 330px;
  overflow-x: auto;
  width: 100%;
  padding: 1.5rem;

  &-buttons > * {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    height: 48px;
  }

  .content {
    &-info,
    &-section {
      &--title {
        @extend %title;
      }
    }

    &-section {
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: $breakpoint-S) {
  .main {
    width: 85vw;
    margin: 4rem auto;
    border-radius: $radius;
    padding: 2rem 4rem;

    -webkit-box-shadow: 0px 0px 22px -13px $shadow-color;
    -moz-box-shadow: 0px 0px 22px -13px $shadow-color;
    box-shadow: 0px 0px 22px -13px $shadow-color;

    .content {
      display: flex;
      flex-direction: row;
      padding-top: 1rem;
      &-info {
        width: 70%;
        margin-right: 0.5rem;
        &--title {
          margin: 2rem 0;
        }
      }

      &-section {
        &--title {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-M) {
  .main {
    width: 75vw;
    .content {
      &-info {
        margin-right: 2rem;
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-L) {
  .main {
    width: 65vw;
    .content {
      width: 80%;
      margin: 0 auto;
      padding-top: 2rem;

      &-info,
      &-section {
        &--title {
          padding: 0.8rem 0;
        }
      }
    }
  }
}
