@if (personalInfo | async; as personalInfoData) {
  <div class="content" [@pulse]="flipped">
    <div class="buttons">
      <app-chips [@changeLanguage]="languageState" />
      <app-buttons [buttonsConfig]="buttons" (clickEvent)="onClick($event)" />
    </div>

    <div class="panel"></div>
    <app-user-info
      [info]="personalInfoData.info"
      [languageState]="languageState"
    />

    @for (key of sectionKeys(personalInfoData); track $index) {
      <div [@changeLanguage]="languageState" class="section">
        <h1>{{ "sections." + key | translate | uppercase }}</h1>
        @switch (key) {
          @case ("experience") {
            <app-experience-education [data]="personalInfoData.experience" />
          }
          @case ("education") {
            <app-experience-education [data]="personalInfoData.education" />
          }
          @default {
            <app-skills [data]="personalInfoData.skills" />
          }
        }
      </div>
    }
  </div>
}
