<ng-container *ngFor="let button of buttonsConfig; trackByIndex">
  <ng-container [ngSwitch]="button.type">
    <ng-container *ngSwitchCase="'mat-raised-button'">
      <button
        mat-raised-button
        [class]="button.className"
        [color]="button.color"
        (click)="onClick(button.id)"
      >
        {{ button.name }}
      </button>
    </ng-container>
  
    <ng-container *ngSwitchCase="'mat-flat-button'">
      <button
        mat-flat-button
        [class]="button.className"
        [color]="button.color"
        (click)="onClick(button.id)"
      >
        {{ button.name }}
      </button>
    </ng-container>
  
    <ng-container *ngSwitchDefault>
      <button
        mat-button
        [class]="button.className"
        [color]="button.color"
        (click)="onClick(button.id)"
      >
        {{ button.name }}
      </button>
    </ng-container>
  </ng-container>
  
</ng-container>
